@use 'base-flex';

$base-purple: rgb(131, 90, 253);
$white: #fff; 

$dark-purple: rgba(131, 90, 253, 0.75);

#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;

    aside {
        flex: 3;
        background: $base-purple;
        color: $white;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120px 80px;

        img {
            max-width: 320px;
        }
    
        strong {
             font: 700 36px 'Poppins', sans-serif;
             line-height: 42px;
             margin-top: 16px;
        }
    
        p {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
            color: #f8f8f8;
        }
    }

    main {
        flex: 4;

        padding: 0 32px;
        @include base-flex.display-flex-base($gap: none);
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 320px;
        align-items: stretch;
        text-align: center;

        > img {
            align-self: center;
        }

        h2 {
            font-size: 24px;
            margin: 64px 0 24px;
            font-family: 'Poppins', sans-serif;
        }

        > button {
            cursor: pointer;
            color: #f8f8f8;
            border: none;
            @include base-flex.display-flex-base($gap: 8px);
            background: #EA4335;
            border-radius: 8px;
            padding: 13px 8px;
            margin-top: 55px;
            font-weight: 500;
            
            transition: filter 0.2s;
            &:hover {
                filter: brightness(0.9);
            }
        }

        form {
            input {
                height: 50px;
                width: 100%;
                border-radius: 8px;
                padding: 0 16px;
                background: $white;
                border: 1px solid #A8A8B3;
                margin-bottom: 20px;
                outline: none;
            }

            .button {
                width: 100%;
            }

        }

        p { 
            font-size: 14px;
            color: #737380;
            margin-top: 16px;

            a {
                color: #e559f9;
            }
        }

        .div-line {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            margin: 25px 0;
            font-size: 14px;
            color: rgb(168, 168, 179);

            hr {
                border: 0;
                align-self: center;
                border-top: 1px solid #A8A8B3;
            }
        }
    }
}

.dark {
    #page-auth {
        aside {
            background: $dark-purple;
            transition: background-color 0.5s ease;
        }

        .main-content {
            > img {
                content: url('../assets/images/logo-dark.svg');
                transition: content 0.5s ease;
            }

            > button {
                background: rgba(234, 68, 53, 0.8);
            }

            .div-line {
                color: rgb(168, 168, 179, 0.8);

                hr {
                    border-top: 1px solid rgb(168, 168, 179, 0.8);
                }
            }

            p {
                color: hsl(240, 5%, 80%);

                a {
                    color: hsl(293, 93%, 70%);
                }
            }
        }
    }
}