@use 'base-flex';

$base-purple: #835AFD;

$dark-purple: rgba(131, 90, 253, 0.75);

.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: $base-purple;
  color: #FFF;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: #FFF;
    transition: background-color 0.5s ease;
    border: 1px solid $base-purple;
    color: $base-purple;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.dark {
  .button {
    background: $dark-purple;

    &.outlined {
      background: #121212;
      border: 1px solid $dark-purple;
      color: $dark-purple;
    }
  }
}